language: python
notifications:
  email:
    recipients:
      - wframe@uw.edu
      - sampereb@uw.edu
      - jchen023@uw.edu
    on_success: never
    on_failure: always
jobs:
  include:
    - name: "Python 3.8.0 on Xenial Linux"
      python: 3.8
      before_install:
        - sh run_program.sh
        - python -m pip install --upgrade pip
        - pip3 install -U pip
        - pip3 install -U pytest
        - pip3 install codecov
        - pip3 install bs4
        - pip3 install lxml
        - pip3 install pytest-pylint
        - pip3 install pytest-flake8
        - pip3 install -r requirements.txt

      script:
        - python3 -m pytest
        - pytest --pylint
        - pytest --flake8
    - name: "Python 3.7.4 on macOS"
      os: osx
      osx_image: xcode11.2
      language: shell
      before_install:
        - python3 --version
        - pip3 install -U pip
        - pip3 install -U pytest
        - pip3 install codecov
        - pip3 install bs4
        - pip3 install lxml
        - pip3 install pytest-pylint
        - pip3 install pytest-flake8
        - pip3 install --user -r requirements.txt
      script:
        - python3 -m pytest
        - pytest --pylint
        - pytest --flake8
    - name: "Python 3.8.0 on Windows"
      os: windows
      language: shell
      before_install:
        - choco install python --version 3.8.0
        - python -m pip install --upgrade pip
        - pip3 install -U pip
        - pip3 install -U pytest
        - pip3 install codecov
        - pip3 install bs4
        - pip3 install lxml
        - pip3 install pytest-pylint
        - pip3 install pytest-flake8
        - pip3 install -r requirements.txt
      env: PATH=/c/Python38:/c/Python38/Scripts:$PATH
      script:
        - python -m pytest
        - pytest --pylint
        - pytest --flake8