{% extends 'base.html' %}
{% block content %}
    <h4>Who are we?</h4>
<p>We are a group of graduate students at the University of Washington. Our group consists of Jack Chen, Vincent Lan,
    William Frame, Junhao Zhang, Samuel Perebikovsky, Anirudddha Dutta</p>
 <h4>What is this website?</h4>
<p>We want to create a portfolio management tool for value investors, where we capture a variety of valuation methods on a dashboard for investors to view easily.</p>
 <h4>Interested in learning more?</h4>
<a href = "mailto: jchen023@uw.edu">Contact US</a>


{% endblock %}
