{% extends 'base.html' %}
{% block content %}

<h1>Dashboard</h1>
</br>


<form action="{% url 'dashboard' %}" class="d-flex" method="POST">
    {% csrf_token %}
    <input class="form-control me-2" type="search" placeholder="Get Stock Quote" aria-label="Search" name="ticker" required>
    <button class="btn btn-outline-success" type="submit">Add Stock </button>
  </form>
</br>

  <table class="table table-hover">
    <thead class="table table-dark">
      <tr>
          <th scope="col">Company Name</th>
          <th scope="col">Current Price</th>
          <th scope="col">Profit Margins</th>
          <th scope="col">P/E</th>
          <th scope="col">EBITDA</th>
          <th scope="col">Price To Book</th>
          <th scope="col">Share</th>
          <th scope="col">Purchase Date</th>
          <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
{% if ticker %}
          {% for list_item in output %}
          <tr>
              <th scope="row">{{list_item.Company}}</th>
              <td>$
                  {% for item in list_item.items %}
                    {% ifequal item.0 'Current Price' %}
                        {{ item.1 }}
                    {% endifequal %}
                {% endfor %}
              </td>

              <td>
                {% for item in list_item.items %}
                    {% ifequal item.0 'Profit Margins' %}
                        {{ item.1 }}
                    {% endifequal %}
                {% endfor %}
              </td>

              <td>
                {% for item in list_item.items %}
                    {% ifequal item.0 'Trailing P/E' %}
                        {{ item.1 }}
                    {% endifequal %}
                {% endfor %}
              </td>
              <td>
                {% for item in list_item.items %}
                    {% ifequal item.0 'EBITDA' %}
                        {{ item.1 }}
                    {% endifequal %}
                {% endfor %}
              </td>
              <td>$
                {% for item in list_item.items %}
                    {% ifequal item.0 'Price To Book' %}
                        {{ item.1 }}
                    {% endifequal %}
                {% endfor %}
              </td>
              <td><input name="share"> </td>
              <td><input type="date" name="purchaseDate"> </td>
            <td><a href="/" type="button"
                   class="btn btn-danger">Delete {{item}}</a></button> </td>
      </tr>
          {% endfor %}


{% endif %}
    </tbody>
  </table>

{% if ticker %}
    {%  for item in ticker %}
    <!-- <button type="button" class="btn btn-primary">{{item}}</button>
    <button href="{% url 'delete' item.id %}" type="button" class="btn btn-danger">Delete</button> -->
    <a href="{% url 'delete' item.id %}" type="button" class="btn btn-danger">Delete {{item}}</a></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    {% endfor %}
{% else %}
  You don't have any stocks.
  {% endif %}

{% endblock %}
