{% extends 'base.html' %}
{% block content %}
{% load get %}

<h1>Dashboard</h1>
</br>


<form action="{% url 'dashboard' %}" class="d-flex" method="POST">
    {% csrf_token %}
    <input class="form-control me-2" type="search" placeholder="Get Stock Quote" aria-label="Search" name="ticker" required>
    <button class="btn btn-outline-success" type="submit">Add Stock </button>
  </form>
</br>
<div style="overflow: scroll;">
  <table class="table table-hover">
    <thead class="table table-dark">
      <tr>
          <th scope="col">Sector</th>
          <th scope="col">Industry</th>
          <th scope="col">Entry Date</th>
          <th scope="col">Shares</th>
          <th scope="col">Entry Price</th>
          <th scope="col">Stock Ticker</th>
          <th scope="col">Current Price</th>
          <th scope="col">Beta</th>
          <th scope="col">PEG</th>
          <th scope="col">P/E (Trailing)</th>
          <th scope="col">P/E (Forward)</th>
          <th scope="col">P/B</th>
          <th scope="col">EV/EBITDA</th>
          <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
{% if ticker %}
          {% for financials, tickers in zip_list %}
          <tr>

              <td>{{financials|get:"Sector"}}</td>
              <td>{{financials|get:"Industry"}}</td>
              <td><input type="date" name="purchaseDate"> </td>
              <td><input name="share"> </td>
              <td><input name="entry_price"> </td>
              <th scope="row">{{tickers}}</th>
              <td>{{financials|get:"Current Price"}}</td>
              <td>{{financials|get:"Beta"}}</td>
              <td>{{financials|get:"PEG"}}</td>
              <td>{{financials|get:"P/E (Trailing)"}}</td>
              <td>{{financials|get:"P/E (Forward)"}}</td>
              <td>{{financials|get:"P/B"}}</td>
              <td>{{financials|get:"EV/EBITDA"}}</td>

            <td><a href="{% url 'delete' tickers.id %}" type="button"
                   class="btn btn-danger">Delete</a></button> </td>
      </tr>
          {% endfor %}


{% endif %}
  </table>
</div>
{% if ticker %}
    {%  for item, item2 in zip_list %}
{#    <a href="{% url 'delete' item2.id %}" type="button" class="btn btn-danger">Delete {{item.Company}}</a></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#}
{#    <a href="{% url 'delete' item2.Company %}" type="button" class="btn btn-danger">Delete {{item2.Company}}</a></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#}
    {% endfor %}
{% else %}
  You don't have any stocks.
  {% endif %}

{% endblock %}
