{% extends 'base.html' %}
{% block content %}

{% if ticker %}
    {{ ticker}}
{% endif %}



<br/>
{% if financials_data %}
    {% if financials_data == "Error..."%}
        These was a problem with your ticker symbol, please try again...
    {% else %}
        <h1>{{financials_data.Company}}</h1><br/>
        Sector:{{financials_data.Sector}}<br/>
        Industry:{{financials_data.Industry}}<br/>
        Volume:{{financials_data.Volume}}</br>
        EBITDA:{{financials_data.EBITDA}}</br>

    {% endif %}
{% endif %}

{% endblock %}
